<app-navbar></app-navbar>
<div class="add-new-item">
 
    <h2 style = "color: #F9A826;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Početna:</h2>
<div class="flip-card" style="float:left; margin-left: 10%; margin-top: 2%;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>MEDOVI</h1>
        <img src="../assets/images/DSC_1852.jpg" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
        <a style="float:none" [routerLink]="['/medovi']"><u>Medovi</u></a>
      </div>
    </div>
  </div>
  <div class="flip-card" style="float:left;margin-left: 10%; margin-top: 2%;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>TINKTURE</h1>
        <img src="../assets/images/DSC_1852.jpg" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
        <a style="float:none" [routerLink]="['/tenkture']"><u>Tinkture</u></a>
      </div>
    </div>
  </div>
  <div class="flip-card" style="float:left;margin-left: 10%; margin-top: 2%;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>MEŠAVINE</h1>
        <img src="../assets/images/DSC_1852.jpg" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
        <a style="float:none" [routerLink]="['/mjesavine']"><u>Mešavine</u></a>
      </div>
    </div>
  </div>

  <div style=" height: 100%; width: 100%; float: left; margin-top: 15%;">

  </div>
   
  