<div class="add-new-item">
    
                <h1 style="float:left; color: #F9A826;">&nbsp; Pčelinjak Papić</h1>
    
                        <a style="float:right; color: #F9A826; margin-right: 6%; margin-top: 2%;" [routerLink]="['/mjesavine']"><u>Mešavine</u></a>
                   
                        <a style="float:right; color: #F9A826; margin-right: 3%;margin-top: 2%;" [routerLink]="['/tenkture']"><u>Tinkture</u></a>
                   
                        <a style="float:right; color: #F9A826; margin-right: 3%;margin-top: 2%;" [routerLink]="['/medovi']"><u>Medovi</u></a>
                  
                        <a style="float:right; color: #F9A826; margin-right: 3%;margin-top: 2%;" [routerLink]="['/']"><u>Početna</u></a>
                  
                        <a style="float:right; color: #F9A826; margin-right: 3%; margin-top: 2%;" [routerLink]="['/kontakt']"><u>Kontakt</u></a>
        </div>
        